# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore
.index_updated
env_variables.yaml
client_secrets.json
key.json
teams

__pycache__/
bin/
compiled/
saveForLater/
src/
static/training
